/* ==== Global styles ==== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #121212; */
    /* background-color: #1E1E1E; */
    background-color: #151515;
    color: white;
    font-family: Arial, sans-serif;
    padding: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border: 0.1px solid #ccc;
    border-radius: 25px;

    nav ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 1rem;
        font-size: 1.2rem;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
    }

    nav ul li a:hover {
        text-decoration: underline;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-top: 0.1px solid #ccc;

    a {
        color: white;
        text-decoration: none;
        margin: 0 1rem;
        font-size: 1.3rem;
    }

    a:hover {
        color: lightblue;
    }
}
/* ========================= */
/* === Main page styles === */

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#about-me {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid white; */
    align-items: center;
    /* gap: 2rem; */

    picture img {
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
    }

    #description {
        line-height: 1.7;

        p {
            margin-bottom: 1rem;
        }

        a {
            border: 0.1px solid #ccc;
            border-radius: 10px;
            padding: 0.5rem;
            margin-left: 0;
            margin-right: 2rem;
        }

        a:hover {
            background-color: #333;
        }
    }
}

#skills {
    border: 0.1px solid #ccc;
    border-radius: 25px;
    padding: 1rem;

    h3 {
        margin-bottom: 1rem;
        margin-left: 0.7rem;
    }

    p {
        margin: 0.7rem 0;
    }

    span {
        border: 0.1px solid grey;
        border-radius: 25px;
        padding: 0.5rem;
        margin: 0.4rem;
        /* color: grey; */
    }
}

#featured-projects p {
    margin: 0.5rem 0;
    border: 0.1px solid #ccc;
    border-radius: 25px;
    padding: 1rem;
}

#arcade-link {
    border: 0.1px solid #ccc;
    border-radius: 25px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        border: 0.1px solid #ccc;
        border-radius: 10px;
        padding: 0.5rem;
        text-decoration: none;
        color: white;
    }

    a:hover {
        background-color: #333;
    }
}

/* ========================= */
/* === Project page styles === */


/* ========================= */
/* === Contact page styles === */



/* ========================= */
/* === Blogs page styles === */



/* ========================= */
/* === Browser arcade page styles === */



/* ========================= */
